  /* -------------------------------------------
  -------------------------------- PORTFOLIO CSS 
  ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* -------------------------------------------
  --------------------------------------- NAVBAR
  ---------------------------------------------- */

.navbar {
  flex-wrap: nowrap !important;
}

  /* -------------------------------------------
  -------------------------- SCROLL PROGRESS BAR
  ---------------------------------------------- */

  body {
    overscroll-behavior-y: none;
}

h2 {
    font-size: 4rem;
    padding: 2rem 0rem;
    font-weight: bold;
}

h3 {
    font-size: 2.5rem;
    padding: 2rem 0rem;
}

p {
    font-size: 1.3rem;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.719);
}

#progress-bar {
    position: fixed;
    top: 125px;
    left: 0;
    height: 8px;
    background: linear-gradient(to right, #c9e265,#6db34f, rgb(0, 128, 55));
    width: 0%;
    z-index: 100;
    transition: width 0.2s ease-out;
    margin-bottom: 0;
    padding-bottom: 0;
} 

#progress {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 900px) {
  #progress-bar {
    display: none;
  }
}

 /* --------------------------------------------
  --------------------------------- HOMEPAGE WEB
  ---------------------------------------------- */


  @media only screen and (max-width: 900px) {
  .img-responsive {
    width: 50%;
    }
  .container-fluid {
      flex-direction: row;
    }
  }

button > .navbar-toggler {
  width: 50%;
}



.video-container {
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
}

.video-container video {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

.text-box {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.63);
  padding: 10px;
  text-align: center;
}

.website-headers {
  color: rgb(0, 128, 55);
}

.linkedin-container {
  list-style: none;
}

.linkedin {
  text-decoration: none;
  color: #0E76A8;
  list-style: none;
  text-align: center;
}

.linkedin-about {
  text-align: center;
  /* list-style: none; */
}

.hidden-intro {
  margin-top: 10vh;
  padding: 0 10vh;
  display: none;
}

 p {
  font-size: 16px;
}


.text-box p {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.home-container {
  background-color: white;
  padding: 0 10vh;
  margin: 10vh 0 0 ;
}

.connect-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.connect-image {
  width: 10%;
  height: auto;
}


@media only screen and (max-width: 800px) {
  .text-box {
    top: 65%;
  }
}

@media only screen and (max-width: 700px) {
  .text-box {
    display: none;
  }
  .hidden-intro {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }
  .hidden-intro {
    margin-top: 5vh;
    padding: 0 5vh;
    display: block;
  }
  div.home-container {
    padding: 0 5vh;
    margin: 5vh  0;
  }

  .video-container video {
    margin-top: 5vh;
  }
}


/* -------------------------------------------
  ------------------------------------ TIMELINE
  ------------------------------------------- */
  
.timeline-container {
      box-sizing: border-box;
      padding: 0 10vh;
    }
  
    .timeline-container-right {
      box-sizing: border-box;
      padding: 10vh;
      display: flex;
      justify-content:flex-end;
      padding: 0 10vh;
    }
  
    .home-container {
      padding: 0 10vh 10vh;
    }

  .language {
    width: 60%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
  }
  
  hr.timeline-hr {
    border-top: 1px solid black;
    margin: 0 auto 15px;
    width: 60%;
  }
  
  fa-html5 {
    color: white;
  }
  
  .right {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
  }
  
  .html{
    background-color: #e34c26;
    padding: 10px 30px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    
  }
  
  .html2 {
    padding: 5px 30px;
  }
  
  .html2 h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  
  .html2 p {
    font-size: 16px;
    text-align: center;
  }
  
  .css3-2 {
    background-color: #264ce4;
    padding: 10px 30px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .css3 {
    font-size: 12px;
    text-align: center;  
  }
  
  .css3 h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
  }
  
  .css3 p {
    font-size: 16px;
    text-align: center;
    padding: 5px 30px;
  
  }
  
  .js-2 {
    background-color: #323330;
    padding: 10px 30px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .js {
    padding: 5px 30px;
  }
  
  .js h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  
  .js p {
    font-size: 16px;
    text-align: center;
  }
  
  .database-2 {
    background-color: #f29111;
    padding: 10px 30px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .database {
    font-size: 16px;
    text-align: center;  
  }
  
  .database h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
  }
  
  .database p {
    font-size: 16px;
    text-align: center;
    padding: 5px 30px;
  
  }
  
  .mongo-2 {
    background-color: #4DB33D;
    padding: 10px 30px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .mongo {
    font-size: 16px;
    text-align: center;  
  }
  
  .mongo h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
  }
  
  .mongo p {
    font-size: 16px;
    text-align: center;
    padding: 5px 30px;
  
  }
  
  .python{
    background-color: #4B8BBE;
    padding: 10px 30px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .python-2 {
    padding: 5px 30px;
  }
  
  .python-2 h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  
  .python-2 p {
    font-size: 16px;
    text-align: center;
  }

  .timeline-alt-display-2 {
    display: none;
  }
  
  
  @media only screen and (max-width: 900px) {
    .language {
      width: 100%;
      box-shadow: 0 0 0 0  rgba(107, 99, 99, 0.459);
    }
    
    .html2 h2 {
      font-size: 14px;
    }
    
    .html2 p {
      font-size: 14px;
      text-align: left;
    }
    
    .css3 h2 {
      font-size: 14px;
    }
    
    .css3 p {
      font-size: 14px;
      text-align: left;
    }
    
    .js h2 {
      font-size: 14px;
    }
    
    .js p {
      font-size: 14px;
      text-align: left;
    }
    
    .database {
      font-size: 14px;
    }
    
    .database h2 {
      font-size: 14px;
    }
    
    .database p {
      font-size: 14px;
      text-align: left;    
    }
    
    .mongo {
      font-size: 14px;
    }
    
    .mongo h2 {
      font-size: 14px;
    }
    
    .mongo p {
      font-size: 14px;
      text-align: left;
    }
    
    .python{
      align-items: center;
      text-align: center;
    }
    
    .python-2 {
      padding: 5px 30px;
    }
    
    .python-2 h2 {
      font-size: 14px;
    }
    
    .python-2 p {
      font-size: 14px;
      text-align: left;
    }

    .timeline-alt-display-1{
      display: none;
    }

    .timeline-alt-display-2 {
      display: block;
    }
  }


  /* -------------------------------------------
  --------------------------------------- FOOTER
  ------------------------------------------- */


  footer {
    display: flex;
    flex-direction: column;
    
  }
  
  .footer-container {
    margin: 0;
    padding: 0 10vw;
    background-image: linear-gradient(to right, rgb(201, 226, 101),rgb(109, 179, 79), rgb(0, 128, 55));
    position:relative;
    bottom:0;
    width:100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container p {
    margin: 0;
    font-size: 16px;
    color: white;
  }

  .footer-link {
    color: #fff;
    text-align: center;
    padding: 2vh 0;
    text-decoration: none;
    flex: 1;
    border: 1px solid transparent;
    align-items: center;
  }

  .footer-link:hover {
    color: rgb(0, 0, 0);
  }
  
  .footer-container-top {
    padding-top: 3vw;
  }
  
  .footer-container-middle {
    padding-bottom: 3vw;
  }

  .footer-container-bottom {
    padding: 1vw 0;
    background: #fff;
    color: #000;
  }

  .footer-container-bottom p {
    color: #000;
    font-size: 12px;
  }
  
  hr.footer-hr {
    border-top: 1px solid rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    width: 60%;
    margin: 0 auto;
  } 

  @media only screen and (max-width: 900px) {
    div.timeline-container {
      padding: 0;
      flex-direction: column;
    }
  
    div.timeline-container-right {
      padding: 0 ;
    }

    .language {
      flex-direction: column;
    }

    .footer-container a {
      font-size: 12px;
    }
    .footer-container p {
      font-size: 12px;
    }
    .footer-container {
      padding: 0 5vw;
    }
  }

  /* -------------------------------------------
  ------------------------------------ DRUM PADS 
  ---------------------------------------------- */

  body {
    font-family: "Raleway", sans-serif;
  }
  
  .app {
    display: flex;
    align-items: center;
    padding: 20vh 0 7vh;
    flex-direction: row;
  }
  
  header h1 {
    margin: 50px 0px 10px 0px;
    text-align: center;
    font-size: 40px;
  }

  header p {
    font-size: 25px;
  }
  
  .pads {
    width: auto;
    display: flex;
    margin-bottom: 20px;
  }
  .pads > div {
    height: 200px;
    width: 200px;
  }
  .pad1 {
    background: #60d394;
    margin: 0 10px;
  }
  .pad2 {
    background: #d36060;
    margin: 0 10px;
  }
  .pad3 {
    background: #c060d3;
    margin: 0 10px;
  }
  .pad4 {
    background: #d3d160;
    margin: 0 10px;
  }
  .pad5 {
    background: #606bd3;
    margin: 0 10px;
  }
  .pad6 {
    background: #60c2d3;
    margin: 0 10px;
  }

  .pad1:hover{
    background: #3eb373;
  }
  .pad2:hover {
    background: #a32727;
  }
  .pad3:hover {
    background: #9f3eb3;
  }
  .pad4:hover {
    background: #adab38;
  }
  .pad5:hover {
    background: #3440af;
  }
  .pad6:hover {
    background: #379eb1;
  }

  .drums-image {
    width: 200px;
    height: auto;
    margin-bottom: 5vh;
  }
  
  .visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
  }
  
  @keyframes jump {
    0% {
      bottom: 0%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    100% {
      bottom: 00%;
      left: 80%;
    }
  }

  @media only screen and (max-width: 1010px) {
    .pads > div {
      height: 140px;
      width: 140px;
    }
  }

  @media only screen and (max-width: 900px) {
 
    div.game-fb-container,
    div.app {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    .game-heading-text {
      text-align: center;
      padding-bottom: 2vh;
    }
    .game-img-btn {
      display: flex;
      margin: 0 auto;
    }
    div#game {
      width: 90vw;
      
      height: 500px;
    }
    .drums-image {
      width: 100px;
    }
    
  }


  @media only screen and (max-width:500px) {
    .pads > div {
      height: 80px;
      width: 80px;
    }
  }

  /* ---------------------------------------------
  ------------------------------------ FLAPY BIRD
  ---------------------------------------------- */
 
.game-fb-container {
  padding: 0 0 10vh; 
  display: flex;
  flex-direction: row;
  margin-top: 18vh;
}

.start-game-btn-color {
  background-color: #fff;
  color: rgb(0, 128, 55);
}

button.game-fb-startStop {
  margin: 10px auto 15px;
  padding: 10px 15px;
}

.game-fb-highScore {
  padding-bottom: 15px;
}

#game {
  width: 600px;
  height: 500px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgba(107, 99, 99, 0.459);
  margin: auto;
  overflow: hidden;
  background-color: white;
  background-image: url(/IMAGES/FlappyBackground4.jpg);
  background-position: center;   
  background-repeat: no-repeat; 
  background-size: cover;
  z-index: 1;
}

#game-2 {
  background-color: #fff;
  align-self: center;
  padding: 0 10vh;
}

.flappy-image {
  width: 200px;
  height: auto;
  margin-bottom: 3vh;
}

.game-3 {
  margin: 0 auto;
}

#block {
  width: 30px;
  height: 500px;
  background-color: #000;
  position: relative;
  left: 600px;
  animation: block 2s infinite linear;

}

@keyframes block{
  0%{left:600px}
  100%{left:-30px}
}

#hole {
  width: 30px;
  height: 150px;
  background-color: white !important;
  position: relative;
  left: 600px;
  top: -500px;
  animation: block 2s infinite linear;
}

#character {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
} 

.games-container {
  margin-top: 75px;
}



@media only screen and (max-width:600px){
  .games-container {
    margin-top: 100px;
  }
  #game {
    margin-bottom: 30px;
  }
} 
 /* -------------------------------------------
  ------------------------------------ ABOUT ME
  ------------------------------------------- */



.about-me-container {
  margin: 30vh 10vh 10vh 10vh;
  display: flex;
  flex-direction: row;
}

.about-me-image {
  align-self: center;
}

.about-me-image img{
  width: 400px;
  height: auto;
  box-shadow: 15px 15px 10px -5px rgba(107, 99, 99, 0.459);
  align-self: center;
}

div.about-me-text {
  align-self: center;
}

.about-lee {
  padding: 0 10vh;
  text-align: center;
}

.about-me-text p{
  padding: 0 10vh;
  font-size: 16px;
  align-self: center;
}

.roll-of-honour {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:  0 5vh;
}

.icon-adj {
  margin: 15px;
  padding: 15px;
}

.html-icon {
  color: #e34c26;
}

.css-icon {
  color: #264ce4;
}

.js-icon {
  color: #323330;
}

.db-icon {
  color: #f29111;
}

.python-icon {
 color: #4B8BBE;
}

.wordpress-icon {
  color: #21759b;
}

.squarespace-icon {
  color: black;
}

.shopify-icon {
  color: #96BF48;
}

@media only screen and (max-width: 1000px) {
  .about-me-container {
    margin: 30vh 5vh 10vh 5vh;
  }
  .about-me-text p{
    padding: 0 5vh;
  }
  .about-me-image img{
    width: 300px;
  }
}
@media only screen and (max-width: 850px) {
  .about-me-container {
    margin: 25vh 5vh 10vh 5vh;
    flex-direction: column;
  }
  .about-me-text p{
    padding: 0 5vh;
  }
  .about-me-image img{
    width: 400px;
    margin-bottom: 7vh;
  }
  .roll-of-honour {
    padding:  0 5vh 0vh;
  }
}

@media only screen and (max-width: 650px){
  .about-me-image img{
    width: 300px;
    margin-bottom: 7vh;
  }
  .about-me-container {
    margin: 25vh 0 0 0 ;
    flex-direction: column;
  }
}
  @media only screen and (max-width: 500px){
    .about-me-image img{
      margin-top: 5vh;
      width: 150px;
    }
}
 /* -------------------------------------------
  ------------------------------- CMS PORTFOLIO
  ------------------------------------------- */

.cms-main {
  margin-top: 25vh;
  padding: 0 10vh;
}

.cms-titles {
  padding: 0 10vh;
  
}

.cms-container {
    width: 100%;
    padding: 0 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
  }

div.cms {
  padding: 5%;
  width: 40%;
  height: auto;
  align-self: center;
}

.cms-image {
  width: 25vh;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .cms-main {
    padding: 7vh 5vh 0;
  }
  .cms-container {
    width: 100%;
    padding: 0 5vh;
  }
  .cms-image {
    width: 75%;
  }

  .cms-titles {
    padding: 0 5vh;
  }
}


 /* -------------------------------------------
  ---------------------------------- CONTACT US
  ------------------------------------------- */

.contact-container {
  background-image: url(/IMAGES/Contact\ Me3.jpg);
  background-size: cover;
  width: auto;
  margin: 0;
  padding: 20vh 0 10vh;
}

form.contact-container-2 {
  display: flex;
  flex-direction: column;
  width: 80vh;
  padding: 40px 20px 25px;
  background-color: rgba(238, 238, 238,0.77);
  margin: 0 auto;
  border: 5px solid white;
}

.lw-contact {
  padding: 10px 0 ;
}

input[type=text], input[type=number], input[type=email], select, textarea {
  border: 1px solid #fff;
  border-radius: 10px;
}

form label {
  color: rgb(0, 128, 55);;
}

button {
  width: 100px;
  margin: 0px auto;
  background-color: rgb(0, 128, 55);
  color: #fff;
  border: 3px solid rgb(0, 128, 55);
  border-radius: 15px;
  padding: 0 15px;
}

.website-headers-2 {
  margin: 0 auto;
}

@media only screen and (max-width: 900px){
  .website-headers-2 {
    margin: 7vh auto 0;
  }
  form.contact-container-2 {
    margin: 7vh auto 0;
  }
  }

@media only screen and (max-width: 650px){
form.contact-container-2 {
    width: 60vh;
  }
  .lw-contact {
    padding: 7px 0 ;
  }
}
  
@media only screen and (max-width: 500px){
  form.contact-container-2 {
      width: 40vh;
    }
    .lw-contact {
      padding: 5px 0 ;
    }
    .contact-container {
      padding: 22vh 0 10vh;
    }
  }


 /* -------------------------------------------
  -------------------------------------- PYTHON
  ------------------------------------------- */


  .python-container {
    display: flex;
    flex-direction: column;
    padding: 15vh 0 10vh;
    /* background-image: url(/IMAGES/FilmFlix4.jpg);
    background-size: cover;
   */
  }

.film-flix {
  margin: 5vh auto;
  padding: 25px;
  background-color: rgba(0, 128, 55, 0.2);
  box-shadow: 15px 15px 10px -5px rgba(107, 99, 99, 0.459);
}

@media only screen and (max-width: 900px){
  .python-container {
    padding: 5vh 0 0;
  }
}

 /* -------------------------------------------
  ------------------------------------- WEATHER
  ------------------------------------------- */

.app-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 11vh 0 0;
  min-height: 60vh;
}

.weather-image {
  width: 200px;
  height: auto;
  margin-bottom: 3vh;
} 

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 15px 15px;
}

header input {
  width: 100%;
  max-width: 350px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

input.search-box {
  border: none;
  outline: none;
  border-radius: 16px 0 16px 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  background-color: rgba(0, 128, 55, 0.2);
}

header input:focus {
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  margin: 0 auto;
  width: 500px;
  padding: 25px 25px 50px;
  flex-direction: column;
  align-items: center;
}

.game4 {
  margin: 0 auto;
  width: 100%;
}

.location .city {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  text-align: center;
  font-size: 16px;
}

.current .temp {
  font-size: 105px;
  font-weight: 900;
}

.current .temp span {
  font-weight: 500;
}

.temp {
  text-align: center;
}

.current .weather {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
}

.current .hi-low {
  font-size: 24px;
  font-weight: 500;
}


@media only screen and (max-width: 900px) {
  div.app-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .weather-app-size {
    width: 100vw;
    padding: 0px 0px 30px;
  }
  .weather-image {
    width: 100px;
    height: auto;
    margin-top: 7vh;
  }
  header {
    padding: 30px 15px 15px;
  }
  .location .city {
    font-size: 20px;
  }
  .current .weather {
    font-size: 20px;
  }
  .current .temp {
    font-size: 60px;
  }
  .current .hi-low {
    font-size: 20px;
  }
}



 /* -------------------------------------------
  --------------------------------- GYM WEBSITE
  ------------------------------------------- */

  /* HERO */

.HeroGym-Container {
  background-image: url(/IMAGES/HeroGym1.jpg);
  display: flex;
  flex-direction: column;
  padding: 40vh 10vh 30vh;
  background-size: cover;
}

.HeroGym-Div {
  width: 60%;
}

.HeroGym-Div h1 {
  font-size: 80px;
  color: #fff;
}

.HeroGym-Div p {
  font-size: 20px;
  color: #fff;
}

.gym-button {
  background-color: #ff1616;
  border: 3px solid #ff1616;
  margin-top: 30px;
}

#close {
  margin: 0;
}

#sign-up-link {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

/* WHAT WE DO  */

.What-we-do-Container {
  padding: 10vh 5vh;
  justify-content: space-between;
}

.What-we-do {
  display: flex;
  flex-direction: row;
}

.What-we-do div{
  padding: 0 5vh;
  text-align: center;
}

h4.What-we-do-heading {
  padding: 15px 0;
}

.What-we-do-icon {
  color: #ff1616;
}

/* BMI  */

.bmi-assessment-container {
  background-color: rgb(0, 0, 0);
  padding: 10vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.bmi-section-1 {
  margin: 0 auto;
}

.bmi-section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gym-website-headings {
  color: #fff;
  font-size: 50px;
  padding-top: 0;
}

.bmi-style, .bmi-style2, .bmi-style3, .contact-section-1 > select{
  padding: 10px 0;
 }

.bmi-style {
  color: #fff;
}

.bmi-style2 {
  color: #000;
}

.bmi-style3 {
  color: #ff1616;
}

.bmi-assessment, .bmi-result {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.bmi-assessment, .bmi-graph {
  align-self: center;
}

.bmi-result-text {
  color: #fff;
  margin-top: 30px;
}

#demo {
  color: #21759b;
}

#bmi-your-score, #bmi-your-details, #bmi-your-type {
  margin: 0;
}

/* SIGN UP  */

.gym-website-headings2 {
  color: #000;
  text-align: center;
  font-size: 50px;
  padding-top: 5vh;
}

.gym-signup-container {
  display: flex;
  flex-direction: row;
  padding: 2vh 5vh 7vh;
}

.contact-section-1 {
  display: flex;
  flex-direction: column;
  width: 33.3vw;
  margin: 0 2vw;
}

.contact-section-1 > input, .contact-section-1 > select {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.336);
}

.contact-section-1 > select {
  padding: 12px 0;
}

.pt-row img {
  width: 70%;
  height: auto;
  padding-bottom: 2vh;
}

div.pt-row {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0 ;
}

.pt-section {
  align-self: center;
}

.pt-row h5 {
  font-weight: 600;
}

/* Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 35vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 4px solid #fff;
  width: 80%;
}

#close:hover,
#close:focus {
  color: rgb(233, 233, 233);
  text-decoration: none;
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: row;
}

.modal_split_1 {
  width: 50%;
  height: auto;
}

.modal_img {
  background-image: url(/IMAGES/HeroGym3.jpg);
  background-position: center;
  height: 30vh;
}

.modal_text {
  text-align: center;
  align-self: center;
}

/* WEBSITE IMAGES  */

.gym-website-images {
  display: flex;
  flex-direction: row;
}

.gym-images img {
  margin: 0;
  padding: 0;
  width: 33.3vw;
}

/* FOOTER  */

.gym-footer-container {
  margin: 0;
  padding: 5vh 10vw;
  background-color: #ff1616;
  position:relative;
  bottom:0;
  width:100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1050px) {
  /* WHAT WE DO  */
  .What-we-do {
    flex-direction: column;
  }
  /* BMI  */
  .bmi-section-2 {
    flex-direction: column;
  }
  .bmi-assessment, .bmi-result {
    margin: 0 auto 5vh;
    width: 60%;
  }
  /* SIGN UP  */
  .gym-signup-container {
    flex-direction: column;
  }
  .contact-section-1 {
    width: 60%;
    margin: 0 auto;
  }
  #myBtn {
    margin-bottom: 5vh;
  }
  .pt-row img {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  /* HERO  */
  .HeroGym-Container {
    background-image: url(/IMAGES/HeroGym1900.jpg);
  }
  .HeroGym-Div h1 {
    font-size: 50px;
  }
  /* WHAT WE DO  */
  .What-we-do-Container {
    padding: 5vh 2vh;
  }
  .What-we-do {
    flex-direction: column;
  }
  /* BMI  */
  .bmi-assessment-container {
    padding: 5vh;
  }
  .bmi-section-2 {
    flex-direction: column;
  }
  .gym-website-headings {
    font-size: 40px;
    text-align: center;
  }
  .bmi-assessment, .bmi-result {
    margin: 0 auto 5vh;
    width: 80%;
  }
  /* SIGN UP  */
  .gym-signup-container {
    margin: 0 auto;
    flex-direction: column;
    padding: 5vh;
  }
  .contact-section-1 {
    width: 80%;
    margin: 0 auto;
  }
  #myBtn {
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 750px) {
  /* HERO  */
  .HeroGym-Container {
    padding: 30vh 5vh 15vh;
  }
}

@media only screen and (max-width: 600px) {
  /* HERO  */
  .HeroGym-Container {
    padding: 35vh 5vh 15vh;
  }
  .HeroGym-Div {
    width: 80%;
    margin: 0 auto;
  }
  .HeroGym-Div h1 {
    font-size: 40px;
  }
  .HeroGym-Div p {
    font-size: 14px;
  }
  /* GYM IMAGES */ 
  .gym-website-images {
    flex-direction: column;
    width: 100%;
  }
  .gym-images img {
    margin: 0;
    padding: 0;
    width: auto;
}

}

@media only screen and (max-width: 500px) {
  /* HERO  */
  .HeroGym-Container {
    padding: 25vh 2vh 10vh;
  }
  .HeroGym-Div h1 {
    font-size: 30px;
  }
  .HeroGym-Div {
    width: 100%;
  }
  /* WHAT WE DO */
  .What-we-do div{
    padding: 0vh;
  }
  /* BMI  */
  .bmi-assessment-container {
    padding: 5vh 0vh;
  }
  .gym-website-headings {
    font-size: 30px;
  }
  .bmi-graph {
    margin: 0 auto;
  }
  .bmi-graph-image {
    width: 300px;
  }
  /* SIGN UP  */
  .gym-signup-container {
    padding: 5vh 0;
  }
  /* FOOTER  */
  .gym-footer-container {
   
    flex-direction: column;
  }
}



 /* -------------------------------------------
  ------------------------------ PORTFOLIO PAGE
  ------------------------------------------- */

#project-page {
  margin-top: 11vh;
  /* background-color: rgb(241, 241, 241); */
  background-color: rgba(209, 248, 224, 0.432);
}

.projects-container {
  display: flex;
  flex-direction: row;
  padding: 0 5vh;
  justify-content: center;
  /* align-items: center; */
}

.project {
  flex-direction: column;
  padding: 5vh 10vh;
}

.project-text {
  padding-top: 2vh;
  text-align: center;
}

.project-image{
  background-color: #fff;
  padding: 15px;
  display: block;
  margin: 0 auto;
  /* box-shadow: 3px 3px 3px rgb(0, 128, 55); */
  box-shadow: 2px 2px 5px rgb(170, 170, 170);
}

.project-icons {
  display: flex;
  justify-content: center;
}

.icon-adj2 {
  justify-content: center;
  padding: 2vh 2vh 0 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 1100px) {
  .project {
    padding: 3vh 5vh;
  }
}

@media only screen and (max-width: 900px) {
  #project-page {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 850px) {
  .project {
    padding: 2vh 3vh;
  }
  .projects-container {
    flex-direction: column;
    padding: 0 5vh;
  }
}

@media only screen and (max-width: 500px) {
  .projects-container {
    padding: 0;
  }
  .project-image{
    margin: 0 auto;
    width: 80vw;
  }
}


 /* -------------------------------------------
  ---------------------------- PROJECT WRITE UP
  ------------------------------------------- */


.project-write-up {
  margin: 0vh;
  padding: 5vh 10vh;
  /* background-color: #fff; */
  background-color: rgba(0, 128, 55, 0.2);
  box-shadow: -3px -3px 3px rgba(0,0,0,0.4);
}

@media only screen and (max-width: 600px){
  .project-write-up {
    padding: 3vh 5vh;
  }
}