/* .bg-dark {
    background-color: transparent !important;
    transition: 0.75s ease-in;
}
.bg-dark.scrolled {
    background-color: white !important;
} */




/* .footer-container {
    margin: 0;
    padding: 3vw 10vw 2vw;
    background-color: #008037;
    background-image: linear-gradient(to right, rgb(201, 226, 101),rgb(109, 179, 79), rgb(0, 128, 55), rgb(0, 128, 55), rgb(0, 128, 55), rgb(0, 128, 55));
    position:absolute;
    bottom:0;
    width:100%;
    color: black;
    border-radius: 50px 0 0;
}

hr {
    color: white;
    border-top: 2px solid white;
}  */